body {
    font-family: "Varela Round";
    font-size: 14px;
}

.main-container{
    margin: auto;
    width: 450px;
}

.main-container ul {
    padding: 0;
    list-style-type: none;
}

.rides-catalog li{
    list-style: none;
    background-color: gainsboro;
    margin-top: 2px;
    padding: 3px 0 3px 3px;
    width: calc(100% - 3px);
}

.pagination {
    background-color: gainsboro;
    width: 100%;
    display: inline-block;

}

.pagination .prev {
    padding: 10px;
    border-style: none;
    background:none;
}

.pagination .next {
    float: right;
    padding: 10px;
    margin-left: 2px;
    border-style: none;
    background: none;
}