@{
    ViewData["Title"] = "OszkárCollector";
}

<input type="hidden" id="page" value="0" />
<div class="main-container">
    <ul class="rides-catalog"></ul>
    
    <div class="pagination">
        <button class="prev">Előző oldal</button>
        <button class="next">Következő oldal</button>
    </div>
    
</div>